.container {
  display: flex;
  justify-content: space-between;
}
.col-side{
  width: 20%;
}
* {
  box-sizing: border-box;
}
.col, .col-side {
  padding: 0px;
}
.col {
  width: 60%;
  height: 100%;
}
.image-container, .header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.header {
  background: lightblue;
  background: linear-gradient(-90deg, lightgrey, teal 80%, green);
  padding: 20px;
  margin: 20px;
  height: 20%;
  box-shadow: 8px 8px 5px black;
  justify-content: center;
}
.game-info {
  background: lightgrey;
  padding: 30px;
  margin: 0 20px 0 20px;
  box-shadow: 8px 8px 5px black;
}

h2 {
  font-size: 30px;
}
p {
  margin: 0px;
  font-size: 14px;
  line-height: 26px;
}
.col-3 {
  background: green;
  width: 31.5%;
  box-shadow: 8px 8px 5px black;

}
.col-3 > p, .wins {
  margin: 20px;
}
.wins > p {
  line-height: 60px;
}
.game {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
}
.scoreHeader, .winsHeader, .currentHeader {
  text-align: center;
  background: teal;
  height: 30%;
  padding: 10px;
  border-bottom: 1px;
  border-style: solid;
}
.currentScore, .targetScore {
  font-size: 30px;
  margin-top: 20px;
}
#winsNumber, #lossesNumber {
  line-height: 16px;
  margin-top: 5px;
}
img:hover {
  animation: bounce 0.7s;
}
@keyframes bounce {
    0% { transform: translate(1px, 1px) rotate(0deg);}
    10% { transform: translate(2px, 1px) rotate(-1deg);}
    20% { transform: translate(1px, 3px) rotate(0deg);}
    30% { transform: translate(3px, 1px) rotate(1deg);}
}
img:active {
  animation: fade 0s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fade {
   0% {opacity: 1;}
   80% {opacity: 0.2;}
   90% {opacity: 0.5}
}
